.bagContainer{
    display: flex;
    flex-wrap: wrap;
}
.bagTitle{
    display: flex;
    align-items: end;
    width: 100%;
    height: 180px;
    background-color: aliceblue;
}
.bagItems{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}