.bagContainer{
    display: flex;
    flex-wrap: wrap;
}
.bagTitle{
    display: flex;
    align-items: end;
    width: 100%;
    height: 170px;
    background-color: aliceblue;
    border: solid #bfbfbf85;
    border-width: 0 0 0.1px 0;
}
.bagBody{
    width: 70%;
    display: flex;
    margin: 0 15%;
}
.bagItems{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    border: solid #bfbfbf85;
    border-width: 0 0.1px 0 0;
}
.bagPaymentContainer{
    width: 38%;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}
.totalAmount{    width: 500px;
    display: flex;
    justify-content: space-around;}