.bagPaymentDetailsCon{
    width: 100%;
    display: block;
    font-size: 0.9rem;
    text-align: left;
    margin: 20px 0;
}
.payProductName{
    display: inline-block;
    margin-left: 20px;
    width: 40%;
}
.price{
    display: inline-block;
    margin-left: 100px;
    width: 30%;
}