.shopContainer{
    display: flex;
    flex-wrap: wrap;
}
.topContainer{
    width: 100%;
    border: 0.1px solid #bfbfbf85;
    height: 150px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 10px;
}
.filterTitle{
    width: 18%;
}
.filterTitle p{margin: 0;}
.fSize{
    width: 67%;
    display: flex;
}
.leftContainer{
    width: 18%;
    height: 500px;
    border: solid #bfbfbf85;
    border-width: 0 0.1px 0.1px 0;
    font-size: .9rem;

}
.fGender{
    text-align: initial;
    line-height: 30px;
    padding: 15px 0 15px 15px;
    border: solid #bfbfbf85;
    border-width: 0 0 0.1px 0;
}
.fPrice{
    text-align: initial;
    line-height: 30px;
    padding: 15px 0 15px 15px;
    border: solid #bfbfbf85;
    border-width: 0 0 0.1px 0;
}

.righContainer{
    width: 81%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 10px 0;
}
.fselectSize{
    border: 0.1px solid #bfbfbf85;
    display: block;
}
.fselectSize:focus{
    outline: none;  
}
.fsortby{
    border: 0.1px solid #bfbfbf85;
    display: block;
}
.fsortby:focus{
    outline: none;  
}
