.wishlistItemsBox{
    width: 200px;
    height: 450px;
    margin: 0px 25px;
    transition: 0.3s;
    cursor: pointer;
}
.wishlistItemsBox:hover{
    scale: 1.02;
}
.wishlistProductImage{
    width: 200px;
    height: 270px;
}
.wishlistProductDisContainer{
    font-size: .9rem;
    text-align: left;
    margin-left: 10px;
}
.wishlistProductDis{
    font-size: .8rem;
    height: 30px;
    color: gray;
    margin: -8px 0 -10px 0px;
}
.moveToBagBtn{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    width: 175px;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border: 1px solid rgb(197, 196, 196);
    align-items: center;
    transition: 0.2s;
    margin-left: 2px; 
    transition: 0.1s;
    cursor: pointer;
}
.moveToBagBtn:hover{
    border: 1px solid black;
}
.xIcon{
    transition: 0.1s;
    color: gray;
    cursor: pointer;
}
.xIcon:hover{
    scale: 1.08;
    color: rgb(61, 61, 61);
}
.removeBtn{
    background-color: transparent;
    position: relative;
    left: 80px;
    top: 35px;
    border: 0;
    height: 22px;
    width: 32px;
}
