.WishlistContainer{
    display: flex;
    flex-wrap: wrap;
}
.myWishlist{
    width: 100%;
    height: 85px;
    display: flex;
    align-items: end;
    top: 85px;
    position: fixed;
}
.myWishlist h2{
    margin-left: 20px;
}
.wishlistItems{
    display: flex;
    margin-top: 155px;
}
